@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    src: url(../fonts/Comfortaa-VariableFont_wght.ttf);
}

body {
    background-color: #1b1d1e;
    font-family: "Comfortaa", sans-serif;
}

header {
    color: #c13b00;
}

main,
footer {
    color: #8a9597;
}

.link:visited,
.link:link {
    color: #8d2b01;
}

footer {
    background-color: #212527;
}